body {
  margin: 0;
}

#heroButton {
  background-color: #4262ff;
  color: #ffffff;
}

.link {
  color: #4262ff;
  text-decoration: underline;
}

.link:hover {
  color: rgb(1, 1, 29);
}

#heroButton:active {
  background-color: #071766;
}

.heroForm input {
  border-radius: 32px;
  border: 1px solid rgba(155, 153, 175, 1);
  height: 38px;
  padding: 5px 10px;
}

.heroForm button {
  border-radius: 32px;
  border: 1px solid rgba(66, 98, 255, 1);
  height: 48px;
  padding: 10px 20px;
}
.heroForm input:focus {
  background-color: aliceblue;
}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1,
h2 {
  color: rgba(5, 0, 56, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.heroText {
  color: rgba(5, 0, 56, 1);
  margin: 0 0 55px 0;
}

.sectionText {
  color: rgba(5, 0, 56, 0.6);
  margin: 0 0 40px 0;
}

header a {
  color: rgba(5, 0, 56, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.heroForm + p {
  color: rgba(5, 0, 56, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 52px 0;
}

nav {
  padding: 33px 50px;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  margin-bottom: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  background: rgba(5, 0, 56, 1);
  padding: 47px 40px;
}

footer a {
  color: white;
  text-decoration: none;
}

.sectionList {
  list-style: none;
}

.sectionList li::marker {
  content: url(../images/check.svg) !important;
}
